<a href="https://colab.research.google.com/github/Saurabi-S/PythonPractice/blob/master/Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hello, World!

In [0]:
print('Hey, this is Saurabi!')

Hey, this is Saurabi!

Indentation

In [0]:
x = 1
if x == 1:
  #it is indented
  print("x is 1")
else:
  print("x is not one")

x is not one

Variables and types

In [0]:
age = 14
print(age)

14

--Floats--

In [0]:
thisFloat = 14.0
print(thisFloat) 
#or it can also be written in another way
thissFloat = float(14)
print(thissFloat)

14.0
14.0

--Strings--

In [0]:
name = 'Saurabi'
print(name)
# can also be written with double quotes.
# best thing about double quotes is that it als allows to use appostraphes

Saurabi

--Simple Operators--

In [0]:
first = 1
fourteenth = 14
together = first + fourteenth
print(together)

#now with strings

I = "I"
Best = "am the best"
Iam = I +" "+ Best
#variables like 'Iam' cannot have space in the middle
print(Iam)

15
I am the best

--Variabe can be done simultaneosly--

In [0]:
Best, secondBest = "leo" ,"tom"
#variables have to be indentified separately, so they cannot be in the same quotation mark.
print(Best, secondBest)
#works with number too
a, b = 1,22
print(a)
print(a, Best)

leo tom
1
1 leo