<a href="https://colab.research.google.com/github/Saurabi-S/PythonPractice/blob/master/Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hello, World!

In [0]:
print('Hey, this is Saurabi!')

Hey, this is Saurabi!

Indentation

In [0]:
x = 1
if x == 1:
  #it is indented
  print("x is 1")
else:
  print("x is not one")

x is not one

Variables and types

In [0]:
age = 14
print(age)

14

--Floats--

In [0]:
thisFloat = 14.0
print(thisFloat) 
#or it can also be written in another way
thissFloat = float(14)
print(thissFloat)

14.0
14.0

--Strings--

In [0]:
name = 'Saurabi'
print(name)
# can also be written with double quotes.
# best thing about double quotes is that it als allows to use appostraphes

Saurabi

--Simple Operators--

In [0]:
first = 1
fourteenth = 14
together = first + fourteenth
print(together)

#now with strings

I = "I"
Best = "am the best"
Iam = I +" "+ Best
#variables like 'Iam' cannot have space in the middle
print(Iam)

15
I  am the best

--Variabe can be done simultaneosly--

In [0]:
Best, secondBest = "leo" ,"tom"
#variables have to be indentified separately, so they cannot be in the same quotation mark.
print(Best, secondBest)
#works with number too
a, b = 1,22
print(a)
print(a, Best)

leo tom
1
1 leo

**The Combinantion of strings and numbers are not supported**

In [0]:
name = "Amar"
age = 5
phrase = "is"
PPhrase = name +" "+ phrase +" " + age
print(PPhrase)

TypeError: ignored

*italicized text*----There was a error, since a string and number couldn't be combined, but it woud work if the number variable was converted into a string.----

In [0]:
name = "Violet"
age = 16
aage = str(age)
phrase = "is"
completephrase = name + " "+ phrase +" " + aage
print(completephrase)

Violet is 16

List

In [0]:
mylist = []
mylist.append(1) #the variable inside could be anything
mylist.append(2)
mylist.append(3)
#or
print(mylist[0]) # prints 1
print(mylist[1]) # prinst 2
print(mylist[2]) # prints 3

for l in mylist:  # prints out 1,2,3
  print(l)

1
2
3
1
2
3

--This commad is used to print a specific thing form the list---

In [1]:
mylist = [1,2,3]
print(mylist[2])
#----The range matters to----
#for example: mylist = [1,2,3]
             #print (mylist[10])
# this would not work because because it is out of range, there isn't ten, but then we said mylist[10]

3

Basic Operators

In [7]:
#Arithmetic Operators include addtion (+), subtration (-), multiplication (*), division (/), power or exponenet (**).
#Python aso follows PEMDAS
print(3+4*5-6/2)
print(4**2)
print(2**5)

#In fact (%) can be used to find the remainder of the division 
remainder = 85%4
print(remainder)

20.0
16
32
1

--Operations with strings--

In [22]:
print("River"+"dale")

#Python also allows ultiplying numbers w/strings to allow a repeating sequence
bunchofbazinga = "BAZINGA " * 100
print(bunchofbazinga)

Riverdale
BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA

--Operations with List--

In [30]:
Female_TBBT = ["Amy", "Penny", "Bernadette"]
Male_TBBT = ["Sheldon", "Leonard", "Raj", "Howard"]
All_TBBT = Female_TBBT + Male_TBBT
print(All_TBBT)

#Python also allows forming lists to repeat using the multiplication.
numbers = ([1,2,3,4] *3)
print(numbers)

['Amy', 'Penny', 'Bernadette', 'Sheldon', 'Leonard', 'Raj', 'Howard']
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

String Formatting

Python uses C-style string formatting to create new, formatted strings. The '%' operator is used to format a set of variables enclosed in a 'tuple' (a fixed a size list),  together  with a format string, which contains normal text together with "argument specifiers", special symbols like "%s", and "%d"

In [33]:
name = "Missy"
print("Hello, %s!!!" % name)
age = 9
print("%s is %d years old." % (name, age))

Hello, Missy!!!
Missy is 9 years old.