<a href="https://colab.research.google.com/github/Saurabi-S/PythonPractice/blob/master/Python_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Hello, World!

In [ ]:
print('Hey, this is Saurabi!')

Hey, this is Saurabi!

Indentation

In [ ]:
x = 1
if x == 1:
  #it is indented
  print("x is 1")
else:
  print("x is not one")

x is not one

Variables and types

In [ ]:
age = 14
print(age)

14

--Floats--

In [ ]:
thisFloat = 14.0
print(thisFloat) 
#or it can also be written in another way
thissFloat = float(14)
print(thissFloat)

14.0
14.0

--Strings--

In [ ]:
name = 'Saurabi'
print(name)
# can also be written with double quotes.
# best thing about double quotes is that it also allows to use appostraphes
#Bust there's is another way; You have to use a backlash.
print('I\'am fine')

Saurabi
I'am fine

--Simple Operators--

In [ ]:
first = 1
fourteenth = 14
together = first + fourteenth
print(together)

#now with strings

I = "I"
Best = "am the best"
Iam = I +" "+ Best
#variables like 'Iam' cannot have space in the middle
print(Iam)

15
I  am the best

--Variabe can be done simultaneosly--

In [ ]:
Best, secondBest = "leo" ,"tom"
#variables have to be indentified separately, so they cannot be in the same quotation mark.
print(Best, secondBest)
#works with number too
a, b = 1,22
print(a)
print(a, Best)

leo tom
1
1 leo

**The Combinantion of strings and numbers are not supported**

In [ ]:
name = "Amar"
age = 5
phrase = "is"
PPhrase = name +" "+ phrase +" " + age
print(PPhrase)

TypeError: ignored

*italicized text*----There was a error, since a string and number couldn't be combined, but it woud work if the number variable was converted into a string.----

In [ ]:
name = "Violet"
age = 16
aage = str(age)
phrase = "is"
completephrase = name + " "+ phrase +" " + aage
print(completephrase)

Violet is 16

List

In [ ]:
mylist = []
mylist.append(1) #the variable inside could be anything
mylist.append(2)
mylist.append(3)
#or
print(mylist[0]) # prints 1
print(mylist[1]) # prinst 2
print(mylist[2]) # prints 3

for l in mylist:  # prints out 1,2,3
  print(l)

1
2
3
1
2
3

--This commad is used to print a specific thing form the list---

In [ ]:
mylist = [1,2,3]
print(mylist[2])
#----The range matters to----
#for example: mylist = [1,2,3]
             #print (mylist[10])
# this would not work because because it is out of range, there isn't ten, but then we said mylist[10]

3

Basic Operators

In [ ]:
#Arithmetic Operators include addtion (+), subtration (-), multiplication (*), division (/), power or exponenet (**).
#Python aso follows PEMDAS
print(3+4*5-6/2)
print(4**2)
print(2**5)

#In fact (%) can be used to find the remainder of the division 
remainder = 85%4
print(remainder)

20.0
16
32
1

--Operations with strings--

In [ ]:
print("River"+"dale")

#Python also allows ultiplying numbers w/strings to allow a repeating sequence
bunchofbazinga = "BAZINGA " * 100
print(bunchofbazinga)

Riverdale
BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA BAZINGA

--Operations with List--

In [ ]:
Female_TBBT = ["Amy", "Penny", "Bernadette"]
Male_TBBT = ["Sheldon", "Leonard", "Raj", "Howard"]
All_TBBT = Female_TBBT + Male_TBBT
print(All_TBBT)

#Python also allows forming lists to repeat using the multiplication.
numbers = ([1,2,3,4] *3)
print(numbers)

['Amy', 'Penny', 'Bernadette', 'Sheldon', 'Leonard', 'Raj', 'Howard']
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

String Formatting

Python uses C-style string formatting to create new, formatted strings. The '%' operator is used to format a set of variables enclosed in a 'tuple' (a fixed a size list),  together  with a format string, which contains normal text together with "argument specifiers", special symbols like "%s", and "%d"

Here are some basic argument specifier 
**%s** -*String*
**%d**- *Integers*
**%f**- *Floating point numbers*
**%.(number of digits) f**- *Floating point numbers w/ a fized anount of digits right to the right of the dot.*
**%x/%X** - *Integers in hex representation (lowercase/upperrcase)*

In [ ]:
name = "Missy"
print("Hello, %s!!!" % name)
age = 9
print("%s is %d years old." % (name, age))
myfloat = 55.0
print("woah %.1f" % myfloat)
anotherfloat = 57.669700455
print("%f" % anotherfloat)

Hello, Missy!!!
Missy is 9 years old.
woah 55.0
57.669700

Any object that is nota string can be foratted using the %s operator as well. The string which returns from the "repr" method of the object is formatted as the string.

In [ ]:
mylist = [4,5,6]
print("my list includes: %s" % mylist)
number = 3
print("number %s" % number)

my list includes: [4, 5, 6]
number 3

Basic String Operation

In [ ]:
#this command will give the number of characters present in the string it's being reffered to (includes punctuation and spaces).
string = "these are single quotes ''"
print(string)
print(len(string))

these are single quotes ''
26

In [ ]:
#This command will print out the first occurnavce of letter we have specified.
string = "Hello world!"
print(string.index("o"))
#You might wonder why it did not print out five, since first 'o' is clearly the fifth letter, but to make things simpler python considers the first letter as a zero.

4

In [ ]:
#This command will print out the number of any certain letter present in the string
string = "Umm! Idk what to say. I'm out of ideas :("
print(string)
print(string.count("m"))

Umm! Idk what to say. I'm out of ideas :(
1

In [ ]:
string = "Wingardium Leviosa"
print(string[3:7])
#This command will print out the part of the string from the fourth character (remember it starts from 0) to the sixth character, not the seventh letter. Sixth not seventh because most programmin languages do this, apparently it makes calculating math inside the brackets earsier. I mean if you say so...

#If you just leave a number in the brackets without the colon it will print out that character from the begining.
print(string[4])

#If you put a negtive number instead it will print that character from the end.
print(string[-5])

#If you leave out the second number but keep the colon it will give you the part of the string that includes the beginig all the way to where you wanted to stop it.
print(string[:10]) #Again this 9 can be negative too.

#If you leave out the first number but keep the colon and the second number it will give you the part of the string that includes all the letters from where you wanter it to stat all the way to the end
print(string[11:]) #Again 10 can be negative

#Also if you just plae a colon in the beackets it'll just give you the entire string
#Make sure the numbers are inside the brakets not the parentheses.

gard
a
v
Wingardium
Leviosa

In [ ]:
string = "ABCDEFGHI"
print(string[2:7:2])
#This command prints the string from 2 to 7 skipping one character. Basically read as [start:stop:step], so in this case it reads/prints out every second letter.

#Meanwhile...
print(string[2:7])
print(string[2:7:1])
#They both produce the same result because in the second case it is stepping every letter, therefore read/prints out every letter.

CEG
CDEFG
CDEFG

In [ ]:
#Python doesn't have a string reverse (strrev) function like C (C as in the programming language) does. But this cmd can do that
string = "Papaoutais"
print(string[::-1])

siatuoapaP

In [ ]:
#This cmd makes all the letters uppercase/lowercase respectively
word = "Woah!"
print(word.upper())
print(word.lower())

WOAH!
woah!

In [ ]:
#This ommand is used to determine if the string starts w/ or end w/ something, respectively. If true
#it'll print out 'true', if not then 'false'. **Punctuation matters** 

string = "Woah this is cool. Ha ha, only joking!")
print(string.startswith("Ha Ha"))
print(string.endswith("joking!"))

False
True

In [ ]:
#This command splits the tring int oa buch of string grouped together n a list. **You chose where the split happens"
word = "Oompa Loompa!"
print(word.split("o"))
#And apparently it removes the letter/character you chose as well.

['O', 'mpa L', '', 'mpa!']

# Conditions

In [ ]:
#Python uses boolean variables to evaluate conditions
Harry = "Potter"
print(Harry == "Potter")
print(Harry == "Styles")
print(Harry != "Prince") # "!=" means 'not equals'

Granger = 1
print(Granger < 3)

True
False
True
True

In [ ]:
#the "and" and "or" boolean operators alow building more complex boolean expressions.
name = "Number 5"
age = 15
if name =="Number 5" and age == 15:
  print("Welcome Number 5!")

if name =="Number 5" or name == "Klaus":
  print("If you're Klaus, then it's not funny!")

If your Klaus, then it's not funny!

In [ ]:
#The "in" operator could be used to check is a specified object exists with an iterable (iterable = reapated process; going through each) object container, such as a list.
spell = "Soronous"
if spell in ["Expecto Patronum", "Ridikkulius", "Protego", "Sonorous", "Reparo"]:
  print("You chose the spell Soronous! That's a nice one ;)")
else:
  print("That is also a nice spell!")

That is also a nice spell!

In [ ]:
#Python uses indentation to define code bloacks, instead of brakets. The standard indentation is 4 spaces, although tabs and any other space would work, as long as it is consistent. "Code bloacks don't need any termination"
statement = False
Another_Statement = True
if statement is True:
  print("Wow!")
  pass
elif Another_Statement is True:
  print("Woah!")
  pass #The command is only syntactically required; but it doesn't affect the code is any way; it's a null command.
else:
  print("Are you sure?")
  pass

Woah!

In [ ]:
#Unlike that doubles equales operator "==" the "is" operator does not match the values of the variable, but the instances themsleves. For example:
x = [4,5,6]
y = [4,5,6]
print(x == y)
print(x is y)

True
False

In [ ]:
#Using "not" before a boolean expression inverts it:
print(not False)
print((not False)==(False))

True
False

# Loops